<% if(infiniteArticlesList.length != 0){%>
  <div class="next-btn-strip">
    <a href="<%-infiniteArticlesList[0]['url'].replace(constant.MAIN_SITE_URL, constant.SITE_URL)%>/amp" title="<%-infiniteArticlesList[0]['title']%>" id="nxt_article">
      <div class="next-article">
        <span class="next-txt">
          next
        </span>
        <span><%-infiniteArticlesList[0]['title']%></span>
      </div>
      <div class="next-btn-div">
        <svg width="24" height="24" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0V0z"></path><path d="M8.59 16.59L13.17 12 8.59 7.41 10 6l6 6-6 6-1.41-1.41z"></path></svg>
      </div>
    </a>
  </div>
<% } %>