<style type="text/css">
    .slick-initialized .slick-slide{
        margin: 0 5px;
    }   
</style>
<section class="sponsors">
    <div class="container">
        <div class="row">
            <div class="sp-n-aso-wrap">
                <div class="co-sponsor-wrap">
                    <div class="associate-slider-wrap">
                        <div class="associate-slider">
                            <div class="co-sponsors">
                                <div class="co-sp-txt">presented by</div>
                                <a href="http://pubads.g.doubleclick.net/gampad/clk?id=5602790148&iu=/1039154/FSTPST_ENG/FSTPST_ENG_BUDGET/FSTPST_ENG_BUDGET_HOME/FSTPST_ENG_BDGT_HP_LOGO_ClickTracker_LICLife" target="_blank">
                                    <img src="https://www.firstpost.com/assets/images/budgets/2021/insurance.jpg" style="min-height:5px;min-width:5px;max-height:35px;"alt="">
                                </a>
                            </div>
                            <div class="co-sponsors">
                                <div class="co-sp-txt">co presenting</div>
                                <a href="http://pubads.g.doubleclick.net/gampad/clk?id=5600358406&amp;iu=/1039154/FSTPST_ENG/FSTPST_ENG_BUDGET/FSTPST_ENG_BUDGET_HOME/FSTPST_ENG_BDGT_HP_LOGO_ClickTracker_Panasonic" target="_blank">
                                    <img src="https://www.firstpost.com/assets/images/budgets/2021/panasonic.jpg" style="min-height:5px;min-width:5px;max-height:35px;"alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="associate">
                    <div class="asso-txt">associate partners</div>
                    <div class="associate-slider-wrap">
                        <div class="associate-slider">
                            <div><a href="http://pubads.g.doubleclick.net/gampad/clk?id=5603018858&iu=/1039154/FSTPST_ENG/FSTPST_ENG_BUDGET/FSTPST_ENG_BUDGET_HOME/FSTPST_ENG_BDGT_HP_LOGO_ClickTracker_Stresscom" target="_blank"><img src="https://www.firstpost.com/assets/images/budgets/2021/Stresscom.jpg" style="min-height:5px;min-width:5px;max-height:25px;" alt=""></a></div>
                            <div><a href="http://pubads.g.doubleclick.net/gampad/clk?id=5601433872&iu=/1039154/FSTPST_ENG/FSTPST_ENG_BUDGET/FSTPST_ENG_BUDGET_HOME/FSTPST_ENG_BDGT_HP_LOGO_ClickTracker_Ratnaprash" target="_blank"><img src="https://www.firstpost.com/assets/images/budgets/2021/Ratnaprash.jpg" style="min-height:5px;min-width:5px;max-height:25px;" alt=""></a></div>
                            <div><a href="http://pubads.g.doubleclick.net/gampad/clk?id=5593898115&iu=/1039154/FSTPST_ENG_PWA/FSTPST_ENG_BUDGET_PWA/FSTPST_ENG_BUDGET_HOME_PWA/FSTPST_ENG_BDGT_PWA_HP_LOGO_ClickTracker_LIC" target="_blank"><img src="https://www.firstpost.com/assets/images/budgets/2021/lichfl.png" style="min-height:5px;min-width:5px;max-height:25px;" alt=""></a></div>
                            <div><a href="http://pubads.g.doubleclick.net/gampad/clk?id=5593113114&iu=/1039154/FSTPST_ENG_PWA/FSTPST_ENG_BUDGET_PWA/FSTPST_ENG_BUDGET_HOME_PWA/FSTPST_ENG_BDGT_PWA_HP_LOGO_ClickTracker_IFFCO" target="_blank"><img src="https://www.firstpost.com/assets/images/budgets/2021/iffco.png" style="min-height:5px;min-width:5px;max-height:25px;" alt=""></a></div>
                        </div>
                    </div>
                </div>
                <script>
                    window.googletag = window.googletag || {cmd: []};
                    googletag.cmd.push(function() {
                    googletag.defineSlot('/1039154/FSTPST_ENG/FSTPST_ENG_BUDGET/FSTPST_ENG_BUDGET_HOME/FSTPST_ENG_BDGT_HP_LOGO_ImpressionTracker', [1, 1], 'div-gpt-ad-1611995557230-0').addService(googletag.pubads());
                    googletag.pubads().enableSingleRequest();
                    googletag.enableServices();
                    });
                </script>
                <div id='div-gpt-ad-1611995557230-0' style='width: 1px; height: 1px;'>
                  <script>
                    googletag.cmd.push(function() { googletag.display('div-gpt-ad-1611995557230-0'); });
                  </script>
                </div>
            </div><!--sp-n-co-wrap-->
        </div>
    </div><!--container-->
</section>