<style type="text/css">
    .associate-slider-wrap .slick-initialized .slick-slide{
        padding: 10px;
        border-left: 1px solid #ccc;
    }
    .associate-slider-wrap .slick-initialized .slick-slide img{  }
    .associate-slider{display: flex; }
    .associate-slider div{ border-left: 1px solid #ccc;padding: 10px;padding-top: 0; }
    .associate-slider  div:nth-child(1){ border: none; }
    .associate-slider.slick-initialized .slick-slide:nth-child(1){border: none}
</style>
<section class="sponsors">   
    <div class="sp-n-aso-wrap">
        <div class="co-sponsor-wrap" style="margin-right: 10px;">
            <div class="co-sp-txt">presented by</div>
            <div class="co-sponsors">
                <a href="http://pubads.g.doubleclick.net/gampad/clk?id=5602790148&iu=/1039154/FSTPST_ENG/FSTPST_ENG_BUDGET/FSTPST_ENG_BUDGET_HOME/FSTPST_ENG_BDGT_HP_LOGO_ClickTracker_LICLife" target="_blank">
                    <img src="https://www.firstpost.com/assets/images/budgets/2021/insurance.jpg" width="100%" alt="" />
                </a>
            </div>
        </div>
        <div class="co-sponsor-wrap" style="margin-right: 10px;">
            <div class="co-sp-txt">co presenting</div>
            <div class="co-sponsors">
                <a href="http://pubads.g.doubleclick.net/gampad/clk?id=5600358406&iu=/1039154/FSTPST_ENG/FSTPST_ENG_BUDGET/FSTPST_ENG_BUDGET_HOME/FSTPST_ENG_BDGT_HP_LOGO_ClickTracker_Panasonic" target="_blank">
                    <img src="https://www.firstpost.com/assets/images/budgets/2021/panasonic.jpg" width="100%" alt="" />
                </a>
            </div>
        </div>
        <div class="associate">
            <div class="asso-txt">associate partners</div>
                <div class="associate-slider-wrap">
                    <div class="associate-slider">
                        <div><a href="http://pubads.g.doubleclick.net/gampad/clk?id=5603018858&iu=/1039154/FSTPST_ENG/FSTPST_ENG_BUDGET/FSTPST_ENG_BUDGET_HOME/FSTPST_ENG_BDGT_HP_LOGO_ClickTracker_Stresscom" target="_blank"><img src="https://www.firstpost.com/assets/images/budgets/2021/Stresscom.jpg" alt=""></a></div>
                        <div><a href="http://pubads.g.doubleclick.net/gampad/clk?id=5601433872&iu=/1039154/FSTPST_ENG/FSTPST_ENG_BUDGET/FSTPST_ENG_BUDGET_HOME/FSTPST_ENG_BDGT_HP_LOGO_ClickTracker_Ratnaprash" target="_blank"><img src="https://www.firstpost.com/assets/images/budgets/2021/Ratnaprash.jpg" alt=""></a></div>
                        <div><a href="http://pubads.g.doubleclick.net/gampad/clk?id=5593898115&iu=/1039154/FSTPST_ENG/FSTPST_ENG_BUDGET/FSTPST_ENG_BUDGET_HOME/FSTPST_ENG_BDGT_HP_LOGO_ClickTracker_LIC" target="_blank"><img src="https://www.firstpost.com/assets/images/budgets/2021/lichfl.png" alt=""></a></div>
                        <div><a href="http://pubads.g.doubleclick.net/gampad/clk?id=5593113114&iu=/1039154/FSTPST_ENG/FSTPST_ENG_BUDGET/FSTPST_ENG_BUDGET_HOME/FSTPST_ENG_BDGT_HP_LOGO_ClickTracker_IFFCO" target="_blank"><img src="https://www.firstpost.com/assets/images/budgets/2021/iffco.png" alt=""></a></div>
                    </div>
                </div>
            </div>
        <script>
            window.googletag = window.googletag || {cmd: []};
            googletag.cmd.push(function() {
            googletag.defineSlot('/1039154/FSTPST_ENG/FSTPST_ENG_BUDGET/FSTPST_ENG_BUDGET_HOME/FSTPST_ENG_BDGT_HP_LOGO_ImpressionTracker', [1, 1], 'div-gpt-ad-1611995557230-0').addService(googletag.pubads());
            googletag.pubads().enableSingleRequest();
            googletag.enableServices();
            });
        </script>
        <div id='div-gpt-ad-1611995557230-0' style='width: 1px; height: 1px;'>
          <script>
            googletag.cmd.push(function() { googletag.display('div-gpt-ad-1611995557230-0'); });
          </script>
        </div>
    </div>   
</section>
