<div class="article-top-wrap">
    <div class="tag-text-div blue-tags">
        <ul>
            <li>
                <a href="<%= constant.SITE_URL %>firstcricket/cricket-live-score" title="">
                    Live Score
                </a>
            </li>
            <!-- <li>
                <a href="" title="">
                    Points Table
                </a>
            </li>
            <li>
                <a href="" title="">
                    Results
                </a>
            </li> -->
        </ul>
    </div>

    <div class="art-social-share">
        <%- include(viewpath+ '/widgets/social_share_widget'); %>
    </div>
</div>