	<script>
	  window.googletag = window.googletag || {cmd: []};
	  googletag.cmd.push(function() {
	    googletag.defineSlot('/1039154/FSTPST_ENG/FSTPST_ENG_Desktop_TRACKER/FSTPST_ENG_DESKTOP_TRACKER_IMPRSN_TRACK_MCPRO', [1, 1], 'div-gpt-ad-1606839573977-0').addService(googletag.pubads());
	    googletag.pubads().enableSingleRequest();
	    googletag.enableServices();
	  });
	</script>
	<style>
		@font-face {
			font-family: 'latoblack';
			src:url('https://www.moneycontrol.com/commonfiles/font/lato-black-webfont.woff2?classic=true') format('woff2'),
				url('https://www.moneycontrol.com/commonfiles/font/lato-black-webfont.woff?classic=true') format('woff'),
				url('https://www.moneycontrol.com/commonfiles/font/lato-black.ttf?classic=true') format('trutype'),
				url('https://www.moneycontrol.com/commonfiles/font/lato-black.eot?classic=true') format('embedded-opentype');
			font-weight: normal;
			font-style: normal;
		}
		
		@font-face {
			font-family: 'latoregular';
			src: url('https://www.moneycontrol.com/commonfiles/font/lato-regular-webfont.woff2?classic=true') format('woff2'),
				 url('https://www.moneycontrol.com/commonfiles/font/lato-regular-webfont.woff?classic=true') format('woff'),
				  url('https://www.moneycontrol.com/commonfiles/font/lato-regular.ttf?classic=true') format('trutype'),
				 url('https://www.moneycontrol.com/commonfiles/font/lato-regular.eot?classic=true') format('embedded-opentype');
			font-weight: normal;
			font-style: normal;
		}
		.FT_ribbon_band {background: url("/static/images/banner_bg_ribbon_1920.jpg") no-repeat; height: auto;  background-size: cover;margin-bottom: 20px;}
		.FT_wrapper {max-width: 1002px; margin: 0 auto; padding: 15px 0;}
		.FT_element {border: 1px solid #E59471; padding: 10px 13px; background-color: #FFF3EB; -webkit-box-shadow: -2px 10px 11px -16px rgba(0,0,0,.75);
-moz-box-shadow: -2px 10px 11px -16px rgba(0,0,0,.75); box-shadow: -2px 10px 11px -16px rgba(0,0,0,.75); text-align: center;}
		.FT_element .left_block {display: inline-block; vertical-align: middle; border-right: 1px solid #707070; margin-right: 15px; padding-right: 15px;}
		.FT_element .right_block {display: inline-block; vertical-align: middle;}
		.FT_element .right_block a {font: 16px/19px 'latoregular', sans-serif; color: #000000; text-transform: uppercase; word-spacing: 2px; text-decoration: none;}
		.FT_element .right_block a:hover {text-decoration: none;}
		.FT_element .right_block span {font: 13px/19px 'latoblack', sans-serif; color: #000000; border-bottom: 1px solid #E59471;}
		.FT_plus {margin: 0 10px;}
		.HD {display: none;}
		.FT_ribbon_band img {vertical-align: middle; width: auto;}
		
		@media screen and (max-width: 979px){
			.HM {display: none;}
			.HD {display: block;}
			header.responsive_true {height: 5px !important;}
			.FT_wrapper {padding: 3px; width: 97%;}
			.FT_element .right_block a, .FT_element .right_block span {font-size: 11px; line-height: 13px;}
			.FT_element .right_block div {display: block;}
			.FT_element .left_block {margin-right: 0; padding-right: 0; border-right: 0;}
			.FT_element .right_block {margin-top: 5px;}
			.FT_ribbon_band {margin-bottom: 5px;}
		}
	</style>

	<!-- FT ribbon band starts desktop -->
		<div class="FT_ribbon_band HM">
			<div class="FT_wrapper">
				<div class="FT_element">
					<div class="left_block">
						<span class="proLogo"><img src="/static/images/MC_Pro_Logo.png"></span>
						<span class="FT_plus"><img src="/static/images/FT_plus_icon.png"></span>
						<span class="FTtimes"><img src="/static/images/FT_times.png"></span>
					</div>
					<div id='div-gpt-ad-1606839573977-0' style='width: 1px; height: 1px;'>
					  <script>
					    googletag.cmd.push(function() { googletag.display('div-gpt-ad-1606839573977-0'); });
					  </script>
					</div>
					<div class="right_block">
						<a href="https://www.moneycontrol.com/promos/pro.php">Access Selected Content from <span>Financial Times</span> on <span>Moneycontrol Pro</span></a>
						<a href="https://www.moneycontrol.com/promos/pro.php" style="display: none;">Read the best of <span>Financial Times</span> on <span>Moneycontrol Pro</span></a>
						<a href="https://www.moneycontrol.com/promos/pro.php" style="display: none;">Selected Articles from <span>Financial Times</span> now on <span>Moneycontrol Pro</span></a>
					</div>

				</div>
			</div>
		</div>
	<!-- FT ribbon band desktop ends -->