<!--Radio Button Section for filter-->
<section class="radio-btn-div">
    <div class="radio-list">
        <div class="radio-btn">
            <input type="radio" id="men" name="cricType" value="men" class="cricType" checked>
            <label for="men">Mens</label>
        </div>
        <div class="radio-btn">
            <input type="radio" id="women" name="cricType" value="women" class="cricType">
            <label for="women">Womens</label>
        </div>
        <div class="radio-btn">
            <input type="radio" id="under19" name="cricType" value="under19" class="cricType">
            <label for="under19">Under’19</label>
        </div>
    </div>
</section>
<!--Radio Button Section for filter-->
