<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Server Configurations</title>
        <meta name="Googlebot-News" content="noindex, nofollow">
        <meta name="ROBOTS" content="NOINDEX, NOFOLLOW">
    </head>
    <body>
       <pre><%=JSON.stringify(constant.reqheaders,null," "); %></pre>
    </body>
</html>